<div class="profile-container">
    <div class="col-logo">
        <div class="logos">
            <img class="img-logos" src="assets/images/logos.png" />
        </div>
        <div class="avatar">
            <img class="img-sign" src="assets/images/session.svg" />
            <button class="btn-secondary" (click)="goToHome()">Cerrar Sesión</button>
        </div>
    </div>
    <div class="col-title">
        <span class="title">Hola, <span class="oro">{{user.name}}</span></span>
        <div class="sub">{{profile.subtitle}}</div>
    </div>
    <div class="col-tickets">
        <div class="col-y-ticket oro">{{profile.yticket}}</div>
        <div class="col-n-ticket">{{profile.nticket}}</div>
        <div class="col-l-tickets">
            <div class="ticket" *ngFor="let ticket of user.tickets">
                <button class="collapsible collap-ticket">{{ticket.number}}</button>
                <div class="content">
                    <div class="date">
                        <div class="tit">Fecha y hora de ingreso</div>
                        <div class="stit">{{ticket.date}}</div>
                    </div>
                    <div class="status">
                        <div class="tit">Estatus</div>
                        <div class="status-{{ticket.status}}">{{ticket.statusd}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-position">
        <div class="tit">{{profile.pos.tit}}</div>
        <div class="stit">{{now}}</div>
        <div class="num">{{user.pos}}</div>
    </div>
    <div class="col-buttons">
        <button class="btn-primary init" (click)="goToHome()">Ir al inicio</button>
        <button class="btn-secondary ticket" (click)="goToTicket()">Ingresar Ticket</button>
    </div>
</div>