@font-face {
  font-family: "EndzoneSans-Bold";
  src: url(../../../assets/fonts/EndzoneSans-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "EndzoneSans-Medium";
  src: url(../../../assets/fonts/EndzoneSans-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "NewslabBlack";
  src: url(../../../assets/fonts/NewslabBlack.ttf) format("truetype");
}

::ng-deep div#rule span.oro {
  color: #e6aa29;
}

.home-container {
  content: "";
  clear: both;
  display: table;
  width: 100%;

  .btn-primary {
    border-radius: 20px;
    display: inline;
    background-color: #e6aa29;
    color: #fff;
    border: none;
    padding: 4% 15% 4% 15%;
    font-size: 4vw;
    font-family: EndzoneSans-Medium;
  }

  .btn-oro {
    border-radius: 20px;
    display: inline;
    background-color: #e6aa29;
    color: #fff;
    border: none;
    padding: 4% 15% 4% 15%;
    font-size: 4vw;
    font-family: EndzoneSans-Medium;
  }

  .btn-secondary {
    border-radius: 20px;
    display: inline;
    background-color: #cc163a;
    color: #fff;
    border: none;
    padding: 4% 15% 4% 15%;
    font-size: 4vw;
    font-family: EndzoneSans-Medium;
  }

  .btn-back {
    border-radius: 20px;
    display: inline;
    background-color: #0e3805;
    color: #88b67f;
    border: none;
    padding: 4% 15% 4% 15%;
    font-size: 4vw;
    font-family: EndzoneSans-Medium;
  }

  .top {
    background-image: url("../../../assets/images/bg_top_mob.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position-y: bottom;
    height: 182vw;

    .logos {
      padding: 2%;
      width: 63%;
      float: left;
      .img-logos {
        height: 20vw;
      }
    }

    .sign {
      width: 23%;
      text-align: right;

      .btn-sign {
        border-radius: 1%;
        display: none;
      }

      .img-sign {
        display: inline;
      }
    }

    .slogan {
      .slogan-title {
        text-align: center;
      }
      .title {
        font-family: NewslabBlack;
        color: white;
        font-size: 5.4vw;

        .oro {
          color: #e6aa29;
        }
      }

      .col-middle {
        text-align: center;
      }

      .col-r-logosd {
        text-align: center;
      }

      .img-logosd {
        height: 11.5vw;
      }

      .subtitle {
        font-family: EndzoneSans-Medium;
        color: white;
        font-size: 4vw;
      }

      .col-l-slogan {
        display: none;
      }

      .col-r-slogan {
        display: none;
      }

      .col-c-slogan {
        padding: 0px 15px 0px 15px;
      }
    }

    .pet {
      display: none;
    }
  }

  .mecanicabg {
    background-image: url("../../../assets/images/bg_mecanica_mob.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position-y: bottom;
    height: 230vw;
    margin-top: -184px;
    z-index: -1;
    position: relative;
  }
  .mecanica {
    height: 230vw;
    margin-top: -242vw;
    z-index: 0;

    .col-m-title {
      padding-top: 135px;
      text-align: center;
      .img-m-title {
        height: 11vw;
      }
    }

    .col-m-rules {
      .col-s {
        margin-bottom: 2vw;

        .m-number {
          border-radius: 50%;
          background-color: #e6aa29;
          width: 4vw;
          height: 4vw;
          text-align: center;
          font-family: NewslabBlack;
          color: #fff;
          margin: 0% 5% 2% 5%;
          padding: 1% 1% 1% 1%;
          font-size: 3vw;
          float: left;
        }

        .m-rule {
          font-family: EndzoneSans-Medium;
          color: #fff;
          width: 80%;
          float: left;
          font-size: 3vw;
        }
      }
    }

    .col-m-bolsas {
      text-align: center;
      .img-m-bolsas {
        height: 85vw;
      }
    }

    .col-m-winners {
      text-align: center;
      font-size: 4vw;
      font-family: EndzoneSans-Medium;
      color: #fff;
    }

    .col-m-btn {
      text-align: center;
    }

    .up {
      display: none;
    }
  }

  .rankingbg {
    background-image: url("../../../assets/images/bg_ranking_mob.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position-y: bottom;
    height: 765px;
    margin-top: -10px;
    z-index: -2;
    position: relative;
  }

  .ranking {
    height: 770px;
    margin-top: -787px;
    z-index: 0;

    .col-r-title {
      padding-top: 32px;
      text-align: center;

      .img-r-title {
        height: 11vw;
      }
    }

    .col-r-subtitle {
      font-family: EndzoneSans-Medium;
      font-size: 4vw;
      color: #fff;
      text-align: center;
      padding: 1vw 15vw 1vw 15vw;
    }

    .col-r-option {
      text-align: center;
    }

    .col-r-day {
      .col-r-day-l {
        float: left;
        width: 10%;
        margin-top: 5vw;
        .btn-l {
          border-radius: 50%;
          height: 7vw;
          width: 7vw;
        }
      }

      .col-r-day-d {
        width: 65%;
        .col-r-day-e {
          color: #fff;
          font-family: NewslabBlack;
          font-style: italic;
          text-align: center;
          font-size: 4vw;
        }
        .col-r-day-f {
          color: #fff;
          font-family: NewslabBlack;
          font-style: italic;
          text-align: center;
          font-size: 4vw;
        }
      }

      .col-r-day-r {
        float: right;
        width: 10%;
        margin-top: 5vw;
        .btn-r {
          border-radius: 50%;
          height: 7vw;
          width: 7vw;
        }
      }
    }

    .col-r-table {
      color: #fff;
      .header-l {
        border-radius: 10px 0px 0px 10px;
        background-color: #218115;
        width: 15%;
        padding: 6px;
        font-family: EndzoneSans-Bold;
        font-size: 3vw;
        float: left;
      }

      .header-r {
        border-radius: 0px 10px 10px 0px;
        background-color: #218115;
        width: 78%;
        padding: 6px;
        font-family: EndzoneSans-Bold;
        font-size: 3vw;
        float: left;
      }

      .content-c {
        font-family: EndzoneSans-Medium;
        font-size: 3vw;
        margin: 1vw 0vw 1vw 0vw;
        .content-l {
          border-radius: 10px 0px 0px 10px;
          background-color: #0e3805;
          width: 15%;
          text-align: center;
          float: left;
          margin: 1vw 1vw 0vw 0vw;
          padding: 6px;
        }

        .content-r {
          border-radius: 0px 10px 10px 0px;
          background-color: #0e3805;
          width: 77%;
          float: left;
          margin: 1vw 0vw 0vw 0vw;
          /* font-size: 3vw; */
          padding: 6px;
        }
      }
    }

    .col-r-page {
      .page-l {
        float: left;
        width: 25%;
        padding-top: 2vw;
        padding-left: 0;
      }

      .page-c {
        color: #fff;
        text-align: center;
        width: 35%;
        font-family: EndzoneSans-Medium;
        font-size: 3vw;
        padding-top: 4vw;
      }

      .page-r {
        float: right;
        width: 25%;
        padding-top: 2vw;
      }

      .btn-back {
        background-color: #0e3805;
      }
    }

    .up {
      display: none;
    }

    .col-r-footer {
      font-family: EndzoneSans-Medium;
      font-size: 3vw;
      color: #fff;
      text-align: center;
      padding: 1vw 10vw 1vw 10vw;
    }
  }

  .col-footer {
    background-color: #000;
    color: #ffffff;
    font-family: EndzoneSans-Medium;
    text-align: center;
    font-size: 2vw;
  }
}

[class*="col-"] {
  float: left;
  padding: 2vw 2vw 2vw 2vw;
  // border: 1px solid #ffffff;
}

[class*="col-"] {
  /* Para mobile: */
  width: -webkit-fill-available;
}

/* CSS rules are kept repetitive so that you can get CSS rules for each button easily :) */

* {
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

*:focus {
  outline: none;
}

.button2 {
  display: none;
}

.button {
  position: relative;
  height: 12vw;
  overflow: hidden;
}

.button.r,
.button.r .layer {
  border-radius: 100px;
}

.button.b2 {
  border-radius: 3px;
}

.checkbox {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.knobs {
  z-index: 2;
}

.layer {
  width: 98%;
  background-color: #0e3805;
  transition: 0.3s ease all;
  z-index: 1;
  border: 2px solid #115712;
  border-radius: 5px;
}

/* Button 10 */
#button-10 .knobs:before,
#button-10 .knobs:after,
#button-10 .knobs span {
  position: absolute;
  top: 4px;
  width: 25vw;
  height: 5vw;
  font-size: 5vw;
  text-align: center;
  line-height: 1;
  padding: 2.5vw 10vw 2.5vw 10vw;
  border-radius: 4px;
  transition: 0.3s ease all;
  font-family: EndzoneSans-Medium;
}

#button-10 .knobs:before {
  content: "";
  left: 4vw;
  background-color: #e6aa29;
}

#button-10 .knobs:after {
  content: "Ganadores";
  right: 4vw;
  color: #88b67f;
}

#button-10 .knobs span {
  display: inline-block;
  left: 4vw;
  color: #fff;
  z-index: 1;
}

#button-10 .checkbox:checked + .knobs span {
  color: #88b67f;
}

#button-10 .checkbox:checked + .knobs:before {
  left: 42vw;
  background-color: #e6aa29;
}

#button-10 .checkbox:checked + .knobs:after {
  color: #fff;
}

#button-10 .checkbox:checked ~ .layer {
  background-color: #0e3805;
}

@media only screen and (min-width: 750px) {
  /* Para tabletas: */
  [class*="col-"] {
    float: left;
    padding: 0.2vw 2vw 0.2vw 2vw;
  }

  .home-container {
    .btn-primary {
      border-radius: 12px;
      display: inline;
      background-color: #e6aa29;
      color: #fff;
      border: none;
      padding: 1vw 3vw 1vw 3vw;
      font-size: 1.2vw;
      font-family: EndzoneSans-Medium;
    }

    .btn-oro {
      border-radius: 12px;
      display: inline;
      background-color: #e6aa29;
      color: #fff;
      border: none;
      padding: 1vw 1vw 1vw 1vw;
      font-size: 1vw;
      font-family: EndzoneSans-Medium;
    }

    .btn-secondary {
      border-radius: 12px;
      display: inline;
      background-color: #cc163a;
      color: #fff;
      border: none;
      padding: 1vw 3vw 1vw 3vw;
      font-size: 1.2vw;
      font-family: EndzoneSans-Medium;
    }

    .btn-back {
      padding: 1vw 1vw 1vw 1vw;
      font-size: 1vw;
      color: #88b67f;
    }
    .top {
      background-image: url("../../../assets/images/bg_top.png");
      background-repeat: no-repeat;
      background-size: auto;
      height: 817px;
      background-position-y: top;

      .logos {
        padding: 2%;
        width: 66%;
        float: left;

        .img-logos {
          height: 15vw;
        }
      }

      .sign {
        width: 23%;
        text-align: right;

        .btn-sign {
          border-radius: 12px;
          display: inline;
          background-color: #ffffff;
          color: crimson;
          border: none;
          padding: 1vw 3vw 1vw 3vw;
          font-size: 1.2vw;
          font-family: EndzoneSans-Medium;
        }

        .img-sign {
          display: none;
        }
      }

      .slogan {
        width: 80%;
        padding: 2%;

        .title {
          font-size: 1.4vw;

          .oro {
            color: #e6aa29;
          }
        }

        .subtitle {
          font-size: 1vw;
        }

        .col-l-slogan {
          display: initial;
          width: 15%;
        }
        .col-c-slogan {
          width: 45%;
          padding: 0;
        }
        .col-r-slogan {
          display: initial;
          width: 20%;
        }

        .col-r-logosd {
          width: 20%;
        }

        .img-logosd {
          height: 3.2vw;
        }
        .col-middle {
          width: 46%;
          padding: 4px;
        }
        .left {
          text-align: left;
        }
        .right {
          text-align: right;
        }
      }

      .pet {
        width: 20%;
        margin: -12% 0% 0% -30%;
        display: initial;

        .img-pet {
          height: 35vw;
        }
      }
    }

    .mecanicabg {
      background-image: url("../../../assets/images/bg_mecanica.png");
      background-repeat: no-repeat;
      background-size: auto;
      height: 1004px;
      margin-top: -15vw;
      z-index: -1;
      position: relative;
      background-position-y: top;
    }

    .mecanica {
      height: 970px;
      margin-top: -985px;
      z-index: 0;
      text-align: center;

      .col-m-title {
        padding-top: 11vw;
        .img-m-title {
          height: 5vw;
        }
      }

      .col-m-rules {
        width: 50%;
        float: right;
        .col-s {
          margin-bottom: 2vw;

          .m-number {
            border-radius: 50%;
            background-color: #e6aa29;
            width: 2.5vw;
            height: 2.5vw;
            text-align: center;
            font-family: NewslabBlack;
            color: #fff;
            margin: 0% 4% 2% 1%;
            padding: 0.1vw;
            font-size: 1.75vw;
            float: left;
          }

          .m-rule {
            font-family: EndzoneSans-Medium;
            color: #fff;
            width: 80%;
            float: left;
            font-size: 1.5vw;
          }
        }
      }

      .col-m-bolsas {
        text-align: center;
        width: 40%;
        float: left;
        .img-m-bolsas {
          height: 25vw;
        }
      }

      .col-m-winners {
        text-align: center;
        font-size: 2vw;
        font-family: EndzoneSans-Medium;
        color: #fff;
      }

      .col-m-btn {
        text-align: center;
      }

      .up {
        width: 5%;
        display: initial;
        float: right;
        margin-top: -2.3vw;
        text-align: center;

        .img-up {
          height: 2vw;
        }
        .up-txt {
          font-size: 0.8vw;
          color: #fff;
          font-family: EndzoneSans-Medium;
          text-align: center;
        }
      }
    }

    .rankingbg {
      background-image: url("../../../assets/images/bg_ranking.png");
      background-repeat: no-repeat;
      background-size: auto;
      height: 1050px;
      margin-top: -80px;
      z-index: -2;
      position: relative;
    }

    .ranking {
      height: 950px;
      margin-top: -960px;

      .col-r-title {
        padding-top: 32px;
        text-align: center;

        .img-r-title {
          height: 5vw;
        }
      }

      .col-r-subtitle {
        font-size: 1.5vw;
      }

      .col-r-option {
        width: 21%;
        margin: 0vw 0vw 0vw 35vw;
      }

      .col-r-day {
        width: 30%;
        display: flex;
        justify-content: center;
        margin: 0vw 0vw 0vw 31vw;
        .col-r-day-l {
          float: left;
          width: 10%;
          margin-top: 1vw;
          text-align: right;
          .btn-l {
            border-radius: 50%;
            height: 2vw;
            width: 2vw;
          }
        }

        .col-r-day-d {
          width: 65%;
          .col-r-day-e {
            color: #fff;
            font-family: NewslabBlack;
            font-style: italic;
            text-align: center;
            font-size: 1vw;
          }
          .col-r-day-f {
            color: #fff;
            font-family: NewslabBlack;
            font-style: italic;
            text-align: center;
            font-size: 1vw;
          }
        }

        .col-r-day-r {
          float: right;
          width: 10%;
          margin-top: 1vw;
          .btn-r {
            border-radius: 50%;
            height: 2vw;
            width: 2vw;
          }
        }
      }

      .col-r-table {
        color: #fff;
        width: 30%;
        margin: 0vw 0vw 0vw 31vw;
        .header-l {
          font-size: 1vw;
        }

        .header-r {
          font-size: 1vw;
        }

        .content-c {
          font-size: 1vw;
          .content-l {
            margin: 0.5vw 0.5vw 0vw 0vw;
          }

          .content-r {
            margin: 0.5vw 0vw 0vw 0vw;
          }
        }
      }

      .col-r-page {
        display: flex;
        justify-content: center;
        width: 30%;
        margin: 0vw 0vw 0vw 31vw;
        .page-l {
          float: left;
          width: 25%;
          padding-top: 2vw;
          padding-left: 0;
        }

        .page-c {
          color: #fff;
          text-align: center;
          width: 35%;
          font-family: EndzoneSans-Medium;
          font-size: 1vw;
          padding-top: 3vw;
        }

        .page-r {
          float: right;
          width: 25%;
          padding-top: 2vw;
        }

        .btn-back {
          background-color: #0e3805;
        }
      }

      .up {
        width: 5%;
        display: initial;
        float: right;
        margin-top: -2.3vw;
        text-align: center;

        .img-up {
          height: 2vw;
        }
        .up-txt {
          font-size: 0.8vw;
          color: #fff;
          font-family: EndzoneSans-Medium;
          text-align: center;
        }
      }

      .col-r-footer {
        font-size: 1vw;
      }
    }

    .col-footer {
      font-size: 0.5vw;
    }
  }

  /* CSS rules are kept repetitive so that you can get CSS rules for each button easily :) */

  * {
    user-select: none;
    -webkit-tap-highlight-color: transparent;
  }

  .button {
    position: relative;
    height: 4vw;
    overflow: hidden;
  }

  .button.r,
  .button.r .layer {
    border-radius: 100px;
  }

  .button.b2 {
    border-radius: 3px;
  }

  .checkbox {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
  }

  .knobs {
    z-index: 2;
  }

  .layer {
    width: 98%;
    background-color: #0e3805;
    transition: 0.3s ease all;
    z-index: 1;
    border: 2px solid #115712;
    border-radius: 5px;
  }

  /* Button 10 */
  #button-10 .knobs:before,
  #button-10 .knobs:after,
  #button-10 .knobs span {
    position: absolute;
    top: 0px;
    width: 0vw;
    height: 1vw;
    font-size: 1vw;
    text-align: center;
    line-height: 1;
    padding: 0.5vw 2vw 0.5vw 8vw;
    border-radius: 4px;
    transition: 0.3s ease all;
    font-family: EndzoneSans-Medium;
  }

  #button-10 .knobs:before {
    content: "";
    left: 1vw;
    background-color: #e6aa29;
  }

  #button-10 .knobs:after {
    content: "Ganadores";
    right: 5vw;
    color: #88b67f;
  }

  #button-10 .knobs span {
    display: inline-block;
    left: -3.8vw;
    color: #fff;
    z-index: 1;
  }

  #button-10 .checkbox:checked + .knobs span {
    color: #88b67f;
  }

  #button-10 .checkbox:checked + .knobs:before {
    left: 12vw;
    background-color: #e6aa29;
  }

  #button-10 .checkbox:checked + .knobs:after {
    color: #fff;
  }

  #button-10 .checkbox:checked ~ .layer {
    background-color: #0e3805;
  }
}
