.collapsible {
  background-color: #1f1f1f;
  color: #979797;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
  font-family: EndzoneSans-Medium;
}

.active,
.collapsible:hover {
  background-color: #051704;
  text-transform: uppercase;
  font-weight: bold;
}

.collapsible:after {
  content: "\02C5";
  color: #979797;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\02C4";
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #051704;
  color: #979797;
  text-align: center;
  font-family: EndzoneSans-Medium;
}

.footer {
  background-color: #000;
  color: #ffffff;
  font-family: EndzoneSans-Medium;
  text-align: center;
  font-size: 1.2vw;
  display: none;
  padding: 0vw 10vw 0vw 10vw;
}

.little {
  font-size: 3.6vw;
  margin-bottom: 0;
}
@media only screen and (min-width: 750px) {
  .footer {
    display: block;
  }

  .little {
    font-size: 1.2vw;
  }

  .collapsible {
    display: none;
  }

  .content {
    display: none;
  }
}
