<button class="collapsible ">Legales</button>
<div class="content">
    <p>México, 2019. Todos los derechos reservados.</p>
    <p>Aviso de Privacidad</p>
    <p>Términos y condiciones</p>
    <p>Checa y Elige</p>
    <p class="little">Derechos Reservados NFL Properties, LLC 2019-2020. Ejecución válida en México. La NFL y sus 32
        equipos se eximen
        de toda responsabilidad relacionada con la presente promoción/ producto. Ruffles, patrocinador oficial de la
        NFL.</p>
</div>
<div class="footer">
    {{messages.footer.f1}} <br> {{messages.footer.f2}}
    <p class="little">Derechos Reservados NFL Properties, LLC 2019-2020. Ejecución válida en México. La NFL y sus 32
        equipos se eximen
        de toda responsabilidad relacionada con la presente promoción/ producto. Ruffles, patrocinador oficial de la
        NFL.</p>
</div>