@font-face {
    font-family: "EndzoneSans-Bold";
    src: url(../assets/fonts/EndzoneSans-Bold.ttf) format("truetype");
  }
  
  @font-face {
    font-family: "EndzoneSans-Medium";
    src: url(../assets/fonts/EndzoneSans-Medium.ttf) format("truetype");
  }
  
  @font-face {
    font-family: "NewslabBlack";
    src: url(../assets/fonts/NewslabBlack.ttf) format("truetype");
  }

  .footer-g{
      width: 100%;
  }